auth="./passwd"
dir="/mnt/ext/Yadisk"
#dir="../Yadisk"
proxy="no"
exclude-dirs="$EXCLUDE"
#exclude-dirs="Common,SHARE,Загрузки,_gsdata_"
#read-only

# -D Если используется этот параметр, приложение не читает файл конфигурации. 